@model Radnik
<script src="/js/obracun-doprinosa.js"></script>
<script src="/js/collapse-container.js"></script>
<h2 class="m-4">Dodavanje novog radnika</h2>
<div class="from-container mt-5" style="max-width:50%">
    <form asp-action="Dodaj" method="post">
        <div class="mb-3 row">
            <label for="firstName" class="form-label">Ime</label>
            <input type="text" class="form-control" id="firstName" asp-for="Ime">
        </div>
        <div class="mb-3 row">
            <label for="lastName" class="form-label">Prezime</label>
            <input type="text" class="form-control" id="lastName" asp-for="Prezime">
        </div>
        <div class="mb-3 row">
            <label for="address" class="form-label">Adresa</label>
            <input type="text" class="form-control" id="address" asp-for="Adresa">
        </div>
        <div class="mb-3 row">
            <label for="netoSalary" class="form-label">Neto plata</label>
            <input type="number" class="form-control" id="netoSalary" asp-for="NetoPlata">
        </div>
        <div style="margin:35px 0px;">
            <p>
                <a class="btn btn-primary mb-3" id="collapseBtn" style="color:white;cursor:pointer;">
                    <i class="fa-solid fa-angle-down mr-2"></i>Parametri za izračunavanje bruto zarade i dodatnih troškova (opciono)
                </a>
            </p>
            <div class="optionalContainer" style="display:none;margin:0px,20px;">
                <h5 class="mb-3">Porez na dohodak</h5>
                <hr />
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Porez</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="porez-field" name="porez-field" class="form-control" aria-describedby="passwordHelpInline" value="10" step="0.1" style="background-color: #51ff125c;">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %
                        </span>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Osnovica</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="osnovica-field" name="osnovica-field" class="form-control" aria-describedby="passwordHelpInline" value="30.880" style="background-color: #51ff125c;">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            din
                        </span>
                    </div>
                </div>
                <h5 class="mb-3">Doprinosi - troškovi (Zaposlen)</h5>
                <hr />
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">PIO</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="pio-field" class="form-control" aria-describedby="passwordHelpInline" value="14" step="1" style="background-color: #ffdd125c;" asp-for="PIO">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %  ( <span class="pio-din-value">0</span> din )
                        </span>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Zdravstveno osiguranje</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="zdravstveno-field" class="form-control" aria-describedby="passwordHelpInline" value="5" step="1" style="background-color: #ffdd125c;" asp-for="Zdravstveno">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %  ( <span class="zdravstveno-din-value">0</span> din )
                        </span>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Nezaposlenost</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="nezaposlenost-field" class="form-control" aria-describedby="passwordHelpInline" value="1" step="1" style="background-color: #ffdd125c;" asp-for="Nezaposlenost">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %  ( <span class="nezaposlenost-din-value">0</span> din )
                        </span>
                    </div>
                </div>
                <h5 class="mb-3">Doprinosi - troškovi (Poslodavac)</h5>
                <hr />
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">PIO</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="pio-poslodavac-field" class="form-control" aria-describedby="passwordHelpInline" value="11" step="1" style="background-color: #62cefd5c;" asp-for="PIOPoslodavac">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %  ( <span class="pio-poslodavac-din-value">0</span> din )
                        </span>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Zdravstveno osiguranje</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="zdravstveno-poslodavac-field" class="form-control" aria-describedby="passwordHelpInline" value="5" step="1" style="background-color: #62cefd5c;" asp-for="ZdravstvenoPoslodavac">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %  ( <span class="zdravstveno-poslodavac-din-value">0</span> din )
                        </span>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Nezaposlenost</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" id="nezaposlenost-poslodavac-field" class="form-control" aria-describedby="passwordHelpInline" value="0" step="0.1" style="background-color: #62cefd5c;" asp-for="NezaposlenostPoslodavac">
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            %  ( <span class="nezaposlenost-poslodavac-din-value">0</span> din )
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <input type="submit" class="btn btn-dark" value="Unesi korisnika">
            <button class="btn btn-light ml-3">Odustani</button>
        </div>
    </form>
</div>