<h1>Detalji o radniku</h1>
<div class="row">
    <div class="col-2"><p>Ime</p></div>
    <div class="col-10"><b>Milos</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Prezime</p></div>
    <div class="col-10"><b>Kukic</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Adresa</p></div>
    <div class="col-10"><b>Neka Ulica 65 Neki Grad</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Neto plata</p></div>
    <div class="col-10"><b>23.980</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Bruto plata</p></div>
    <div class="col-10"><b>64.980</b></div>
</div>
<h4>Doprinosi (Radnik)</h4>
<div class="row">
    <div class="col-2"><p>PIO</p></div>
    <div class="col-10"><b>27,850</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Zdravstveno</p></div>
    <div class="col-10"><b>23.980</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Nezaposlenost</p></div>
    <div class="col-10"><b>64.980</b></div>
</div>
<hr />
<div class="row">
    <div class="col-2"><p>Ukupno</p></div>
    <div class="col-10"><b>64,980</b></div>
</div>
<h4>Doprinosi (Poslodavac)</h4>
<div class="row">
    <div class="col-2"><p>PIO</p></div>
    <div class="col-10"><b>27,850</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Zdravstveno</p></div>
    <div class="col-10"><b>23.980</b></div>
</div>
<div class="row">
    <div class="col-2"><p>Nezaposlenost</p></div>
    <div class="col-10"><b>64.980</b></div>
</div>
<hr />
<div class="row">
    <div class="col-2"><p>Ukupno</p></div>
    <div class="col-10"><b>64,980</b></div>
</div>